.home {
  :global {
    .header {
      a {
        text-decoration: none;
        color: #FFF;
      }
    }
    .ant-layout-header {
      background: #FA6F40;
      color: #FFF;
    }
    .content {
      padding: 30px;

      .ant-card-head-title {
        font-size: 14px;
      }
      .ant-card-body {
        font-size: 10px;
      }
    }
  }
}
