.jobTodo {
  :global {
    .form {
      padding: 30px;

      .otherProps {
        .ant-form-item-children {
          .key {
            width: 80px;
            margin-right: 8px;
          }
          .value {
            width: 150px;
            margin-right: 8px
          }
          .plus, .minus {
            border: 1px solid #CCC;
            &:hover {
              cursor: pointer;
              border: 1px solid #666;
            }
          }
        }
      }
      .priority {
        .ant-input-number {
          width: 180px;
        }
      }
      .status {
        .ant-form-item-control {
          width: 180px;
        }
      }
      .posRange {
        .ant-calendar-picker {
          width: 140px;
        }
        .ifRange {
          margin-left: 10px;
        }
      }
      .genButton {
        float: right;
        .sqlButton {
          margin-right: 10px;
        }
      }
    }
    .gen {
      padding: 30px;
      font-size: 12px;
      .react-codemirror2 {
        border: 1px solid #CCC;
        padding: 10px;
      }
      .CodeMirror {
        height: 560px;
      }
    }
  }
}
