.runJobs {
  :global {
    .content {
      margin: 10px 200px 0 100px;
      a {
        text-decoration: none;
      }
      .error {
        margin: 16px 0;
      }
      .empty {
        width: 800px;
        height: 100%;
        margin: 10px auto;
        span {
          font-size: 20px;
        }
      }
    }
  }
}
