.saIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100% !important;
    height: 100% !important;
    object-fit: contain;
  }
}

.icon {
  width: 44px;
  height: 44px;
  margin-bottom: 5px;
  margin-top: 10px;
}

.logo {
  width: 48px;
  height: 48px;
  display: inline-block;
}

.like {
  width: 30px;
  height: 26px;
  vertical-align: middle;
  display: inline-block;
}

.location {
  width: 18px;
  height: 32px;
  vertical-align: middle;
  display: inline-block;
}

.warning {
  width: 25px;
  height: 22px;
  vertical-align: middle;
  display: inline-block;
}

.share {
  width: 29px;
  height: 29px;
  vertical-align: middle;
  display: inline-block;
}

.chat {
  width: 29px;
  height: 29px;
  vertical-align: middle;
  display: inline-block;
}

.agree {
  width: 29px;
  height: 29px;
  vertical-align: middle;
  display: inline-block;
}

.edit {
  width: 31px;
  height: 32px;
  vertical-align: middle;
  display: inline-block;
}

.cart {
  width: 48px;
  height: 44px;
}
.starw {
  width: 42px;
  height: 40px;
}

.plusing {
  width: 24px;
  height: 24px;
}

.arrowdown {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  display: inline-block;
}

.time {
  width: 26px;
  height: 26px;
  vertical-align: middle;
  display: inline-block;
}

.checked {
  width: 26px;
  height: 26px;
  vertical-align: middle;
  display: inline-block;
}

.eye {
  width: 29px;
  height: 22px;
  vertical-align: middle;
  display: inline-block;
}

.pencil {
  width: 26px;
  height: 26px;
  vertical-align: middle;
  display: inline-block;
}

.export {
  width: 29px;
  height: 28px;
}

.tag {
  width: 22px;
  height: 22px;
  display: inline-block;
}

.download {
  width: 29px;
  height: 28px;
}


.delete {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  display: inline-block;
}

.liked {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  display: inline-block;
}

.smile {
  width: 36px;
  height: 36px;
  vertical-align: middle;
  display: inline-block;
}

.likew {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  display: inline-block;
}

.normal-26 {
  width: 26px;
  height: 26px;
  vertical-align: middle;
  display: inline-block;
}

.earth {
  width: 26px;
  height: 26px;
  vertical-align: middle;
  display: inline-block;
}

.remove {
  width: 25px;
  height: 33px;
  vertical-align: middle;
  display: inline-block;
}

.star {
	width: 42px;
	height: 40px;
  vertical-align: middle;
  display: inline-block;
}

.veo {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  display: inline-block;
}

.agreed {
  width: 29px;
  height: 29px;
  vertical-align: middle;
  display: inline-block;
}

.plus {
  width: 17px;
  height: 17px;
  line-height: 0;
  vertical-align: middle;
  display: inline-block;
}

.group {
  width: 31px;
  height: 24px;
  vertical-align: middle;
  display: inline-block;
}

.down {
  width: 12px;
  height: 7px;
  vertical-align: middle;
  display: inline-block;
  line-height: 0;
}


